li.collection-item {
  display: grid;
  grid-template-columns: 0.7fr 7fr 1.5fr 1.5fr;
}

.completed-label-box {
  margin: 0 50px 10px 20px;
}

label.checkbox-wrapper {
  display: grid;
}

span.checkbox-helper {
  margin-top: 6px;
}

.task-text {
  margin: 5px;
  font-weight: 600;
  color: #767676;
}

.line-through {
  text-decoration-line: line-through;
  text-decoration-color: red;
  color: red;
}

.edit-item,
.delete-item,
.update-btn,
.cancel-btn {
  cursor: pointer;
  justify-self: end;
  align-self: center;
  margin-right: 0 !important;
}
/* .update-btn,
.cancel-btn {
max-width: 90%;
padding: 0;
margin-left: .5em;
} */

.update-btn {
  background-color: #26a69a;
}

.update-btn:hover {
  background-color: #2bbbad;
}

.cancel-btn {
  background-color: #ec4141;
  /* #bb2b2b; */
}

.cancel-btn:hover {
  background-color: #ff4f4f;
}
